.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 120px;
  height: auto;
  width: 100%;
}

.best-seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 692px;
  height: 102px;
}

.best-seller h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.best-seller h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.best-seller p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.icons {
  width: 1045px;
  height: 274px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 80px;
}

.icon {
  width: 328px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.icon p {
  width: 225px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.featured-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featured-post h6 {
  color: #23a6f0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.featured-post h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.room-cards {
  width: 1050px;
  height: auto;
  margin-top: 112px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.room-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 348px;
  height: 606px;
  padding: 0;
  margin: 0;
}
.room-card img {
  width: 348px;
  height: 300px;
}
.room-card h6 {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: red;
  width: 58px;
  height: 24px;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 348px;
  height: 306px;
  padding: 20px;
}

.trends {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.trends p:nth-child(1) {
  color: #8ec2f2;
}

.bottom-card h4 {
  width: 247px;
  height: 60px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.bottom-card .ps {
  width: 280px;
  height: 60px;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.8;
}

.date {
  width: 298px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.date span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 0.8;
}

.alarm {
  color: #23a6f0;
}

.chart {
  color: #23856d;
}

.learn {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.arrow-right {
  font-size: 25px;
  color: #23a6f0;
}

@media screen and (max-width: 700px) {
  .container {
    margin: 84px 0;
  }

  .best-seller {
    height: 102px;
    width: 332px;
  }

  .icons {
    flex-direction: column;
    width: 328px;
    height: auto;
  }

  .bottom-card {
    width: 320px;
    padding: 0;
  }

  .featured-post {
    width: 239px;
  }

  .featured-post h2 {
    width: 239px;
    height: 100px;
  }

  .room-cards {
    flex-direction: column;
    width: auto;
    height: 1880px;
    margin: 112px 0;
    gap: 50px;
  }
}
