.home {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 34px 38px;
}

.home a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.arrow {
  font-size: 20px;
  opacity: 0.3;
}

.home p {
  opacity: 0.3;
  font-weight: 500;
}

.info {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.info h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  opacity: 0.6;
}

.write-up {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.text {
  width: 600px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.text p {
  width: 517px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.colored {
  padding-left: 24px;
  border-left: 5px solid #23856d;
}

.write-up img {
  width: 413px;
  height: 372px;
  border-radius: 5px;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
  .info {
    display: none;
  }

  .write-up {
    display: none;
  }
  .brands {
    flex-direction: column;
  }

  .mobile-hide {
    display: none;
  }
}
